.herosession2{
    height: 40vh;
    
}
.herosession2__img {
	background-image: url('../../../../images/Layer 35.png');
	width: 100%;
	height: 90vh;
	background-color: gray;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.herosession2__text{
    display: flex;
    height: 40vh;
    align-items: center;
    /* justify-content: center; */
    padding-left: 50px;
}
.herosession2__text > h1{
    font-weight: bold;
    color: #37885F;
}















@media screen and (max-width: 400px){
    
    
    .herosession2__img {
        background-image: url('../../../../images/Layer 35.png');
        width: 100%;
        height: 80vh;
        background-color: #aeaeae;
        background-position: center;
        background-size: cover;
        
        background-repeat: no-repeat;
    }
    .herosession2__text{
        display: flex;
        height: 50vh;
        align-items: center;
        /* padding-left: 50px; */
        /* padding-right: 50px; */
    }
    .herosession2__text > h1{
        font-weight: bold;
        color: #37885F;
    }
    
    
}