.help {
	display: flex;
}
.help__left {
    flex: 0.5;
    background-color: #E5E5E5;
    align-items: center;
    display: flex;
}
.help__leftform > input{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;

}
.help__leftform2 {
    margin-top: 10px;
    display: flex;
    
}
.help__leftform2__Text1{
    flex: 0.7;
}
.help__leftform2__Text1 > input {
    width: 90%;
    border: none;
    padding: 10px;
    outline: none;
}
.help__leftform2__Text2{
    flex: 0.3;
}
.help__leftform2__Text2 > input{
    width: 100%;
    border: none;
    padding: 10px;

    outline: none;
}

.help__right {
	flex: 0.5;
	background-image: url('../../images/layer13.png');
	width: 50%;
	padding: 0;
	margin: 0;
	height: auto;
	background-color: #aeaeae;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	/* width: 100px; */
	height: 50vh;
	background-color: green;
}
