.footer {
	background-color: #bd2e1f;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	min-height: 50vh;
}
.footer1 {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	color: white;
}
.footer1 > div:first-child {
	width: 200px;
}

ul {
	list-style: none;
	line-height: 2;
}

.footer__logo {
	display: flex;
	width: 100%;
	margin-bottom: 20px;
	justify-content: space-between;
}

@media screen and (max-width: 400px) {
	.footer {
		margin-top: 20px;
		padding-top: 30px;
	}
	.logo > img {
		height: 40px;
		width: 90px;
	}
	.footer1 {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;
		color: white;
	}
	.footer1 > div:first-child {
		width: 100%;
	}
	.footer__logo > div > img {
		height: 30px;
		width: 40px;
	}
}
