.footer{
    background-color: #BD2E1F;
    width: 100%;
    display: flex;
    align-items: center;
    height: 50vh;
}
.footer__content{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo {
    display: flex;
    width: 40%;
    color: whitesmoke;
    justify-content: space-between;
    align-items: center;
    
}
.logo__left > p  {
    width: 300px;
    padding-top: 20px;
    
}
.footer__left{
    padding-top: 50px;
}
.footer__left > ul{
    list-style: none;
    padding-top: 20px;

    line-height: 2;
    color: whitesmoke;
    font-weight: 600;
}
.footer__right, .footer__right2 {
    padding-top: 50px;

}
.footer__right > ul {
    list-style: none;
    color: whitesmoke;
    padding-top: 20px;
    font-weight: 600;
}
.footer__right2{
    display: flex;
    width: 300px;
    flex-direction: column;
}
.footer__right2Logo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* flex-direction: column; */
    
}

.footer__right2Logo > img {
    height: 40px;
    width: 30px;
    margin-bottom: 30px;
}

@media screen and (max-width: 400px){
    .footer {
        display: none;
    }
}