.prices {
	display: flex;
	width: 100%;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.price__heading > p {
	text-align: center;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 30px;
}

.price__div {
	background-color: gray;
	width: 250px;
	height: 25vh;
	opacity: 0.5;
	margin-bottom: 20px;
}
.price__div_with_text {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

@media screen and (max-width: 400px) {
	.price__heading > p {
		font-size: 20px;
		
	}
}
